
/* original dark/grey colors */
html {
    --yt-spec-base-background: var(--yt-spec-general-background-a) !important;
}


/* fix scrollbar background color */
body::-webkit-scrollbar {
    background-color: var(--yt-spec-general-background-a) !important;
}


/* original red branding/accent colors */
html {
    --yt-spec-static-brand-red: #fe0000 !important;
}

.YtThumbnailOverlayProgressBarHostWatchedProgressBarSegmentModern {
    background: #fe0000 !important;
}

.ytp-cairo-refresh-signature-moments .ytp-play-progress {
    background: #fe0000 !important;
}

ytd-thumbnail-overlay-resume-playback-renderer #progress.ytd-thumbnail-overlay-resume-playback-renderer {
    background: #fe0000 !important;
}

yt-icon#logo-icon g:first-of-type > path:first-of-type {
    fill: #fe0000;
}


/* attempt to fix the layout of the videos */
.ytd-rich-grid-renderer, ytd-rich-shelf-renderer {
    --ytd-rich-grid-items-per-row: 5 !important;
    --ytd-rich-grid-posts-per-row: 5 !important;
    --ytd-rich-grid-slim-items-per-row: 7 !important;
}


/* disable blur/glass effect */
#frosted-glass {
    background: var(--yt-spec-base-background) !important;
}


/* change background of topbar */
#background.ytd-masthead {
    background: var(--yt-spec-general-background-a) !important;
}


/* remove border radius of the search box */
ytd-searchbox #container.ytd-searchbox, ytd-searchbox #container.ytd-searchbox {
    border-radius: unset !important;
}

ytd-searchbox #search-icon-legacy.ytd-searchbox, ytd-searchbox #search-icon-legacy.ytd-searchbox {
    border-radius: unset !important;
}


/* no idea */
.sbdd_b, .sbsb_a {
    border-radius: 2px !important;
}
