
/* add contrast to controls on the video player */
.ytp-delhi-modern .ytp-play-button,
.ytp-delhi-modern .ytp-chapter-title.ytp-button,
.ytp-delhi-modern .ytp-chrome-controls .ytp-right-controls,
.ytp-delhi-modern .ytp-time-wrapper:not(.ytp-miniplayer-ui *),
.ytp-delhi-modern .ytp-volume-area {
    background: #18181890 !important;
}

.ytp-delhi-modern .ytp-progress-list {
    background: rgba(40,40,40,0.7) !important;
}


/* fix expanding/collapsing description */
ytd-text-inline-expander {
    display: flex !important;
    flex-direction: column !important;
}

#expand.ytd-text-inline-expander {
    position: static !important;
    align-self: end !important;
}

#collapse.ytd-text-inline-expander {
    align-self: end !important;
    font-size: 1.6rem;
}


/* fix background of the description */
#description.ytd-watch-metadata:hover {
    background: #fff1 !important;
}

#description.ytd-watch-metadata:hover:has(ytd-text-inline-expander[is-expanded]) {
    background: transparent !important;
}

#description.ytd-watch-metadata {
    background: transparent !important;
}


/* fix/remove the "fade out" effect on collapsed the description */
ytd-text-inline-expander div#snippet {
    mask-image: unset !important;
}


/* hide the "shorts" shelf from expanded description */
#structured-description ytd-reel-shelf-renderer {
    display: none !important;
}


/* reduce the border radius of video player */
ytd-player {
    border-radius: 6px !important;
}


/* reduce the border radius of the left side bar buttons */
ytd-guide-entry-renderer {
    border-radius: 5px !important;
}

#endpoint.ytd-guide-entry-renderer:hover {
    border-radius: 5px !important;
}

